Dudas.txt
Enunciado_Práctica_EDD.pdf
Manual Tecnico.docx
*.exe
**.vscode/
~$nual Tecnico.docx
Enunciado_Proyecto_EDD.pdf
Matrizdispersaejemplo.dot
bitacora de laboratorios.txt
Dudas.txt
**output/
Analisis Matriz.xlsx
~$Analisis Matriz.xlsx